DATABASE_URL=postgresql://postgres.vjslzchztxhsxizybspm:Safin%40786112920@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
JWT_SECRET=replace-with-a-long-random-secret
FRONTEND_URL=dump-tracker.vercel.app
ADMIN_USERNAME=safin
ADMIN_PASSWORD=safin786
ADMIN_ROLE=admin
