DATABASE_URL=postgresql://postgres:Safin%40786112920@db.vjslzchztxhsxizybspm.supabase.co:5432/postgres
JWT_SECRET=replace-with-a-long-random-secret
FRONTEND_URL=dump-tracker.vercel.app
ADMIN_USERNAME=safin
ADMIN_PASSWORD=safin786
ADMIN_ROLE=admin
